* {
    box-sizing: border-box;
    color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #131C2F;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #E9ECF3;
}


.layout-container {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;
}

.layout-header {
    background: #131C2F;
    border-bottom: 1px solid rgba(233, 236, 243, 0.25);
    box-shadow: 0px 4px 10px #000000;
    padding: 12px 0;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.layout-header > .layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-nav > ul {
    list-style: none;

    
    margin-top:    0;
    margin-bottom: 0;
    padding-left:  0;

    display: flex;
    flex-flow: row nowrap;
}

.layout-nav > ul > li {
    margin-left: 24px;

}

.layout-nav > ul > li:first-child {
    margin-left: 0;
}

.layout-nav > ul > li > a {
    font-weight:    bold;
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 8px;
    padding: 6px 10px;

    display: block;
    
}

.layout-nav > ul > li > a:hover,
.layout-nav > ul > li:hover > a {
    color: #24A3FF;
    background: #E9ECF31A;
}


.root-content {
    flex-grow: 4;
    padding: 10px;
    margin-top: 60px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.home-lable {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}


.search-bar input[type="text"] {
    padding: 8px 15px;
    border: 1px solid #2d2d3d;
    color: #ffffff;
    background-color: #1c1c2b;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 200px;
}

.search-bar input[type="text"]::placeholder {
    color: #b0b0b0;
}

.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
    border-color: #3a3a5a;
    box-shadow: 0px 0px 5px #3a3a5a;
}

.search-bar button {
    background-color: #3a3a5a;
    padding: 8px 15px;
    color: #ffffff;
    border: 1px solid #2d2d3d;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.article {
    border: 1px solid #ccc;
    padding: 20px;
    margin:  0;
}

.article h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.article-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 50px;
}

.article-content p {
    flex: 2;
    margin-right: 10px;
}

.image-left .article-content{
    flex-direction: row;
}

.image-right .article-content {
    flex-direction: row-reverse;
}

.article-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.root-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.footer-left {
    max-width: 50%;
}

.footer-left p {
    margin: 5px 0;
    padding: 10px;
}

.footer-right {
    width: 50%;
    text-align: right;
}



.footer-right .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-right .footer-links a {
    margin: 3px 0;
    text-decoration: none;
    color: #000;
}

.footer-right .footer-links a:hover {
    text-decoration: underline;
}


