 * {
    font-family: Arial, Helvetica, sans-serif;

 }

 h1 {
    font-size: 24px;
    color: brown;
    text-align: center;
 }

 h2 {
    font-size: 20px;
    color: blue;
 }

 h3 {
    font-size: 18px;
    color: blueviolet;
 }

  .para1 {
    text-align: left;
 }

 p {
    text-align: center;
    background-color: beige;
    padding: 10px;
 }


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightcoral;
    padding: 50px;
    margin: 20px;
    text-align: center;
}