* {
    box-sizing: border-box;
}

div {
    margin: 1px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.root-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
}

.user-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
}


.root-content {
    flex-grow: 4;
    padding: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.home-lable {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}


.search-bar {
    display: flex;
    align-items: center;
}


.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
}

.search-bar button {
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
}

.article {
    border: 1px solid #ccc;
    padding: 20px;
    margin:  0;
}

.article h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.article-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 50px;
}

.article-content p {
    flex: 2;
    margin-right: 10px;
}

.image-left .article-content{
    flex-direction: row;
}

.image-right .article-content {
    flex-direction: row-reverse;
}

.article-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.root-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-left {
    max-width: 50%;
}

.footer-left p {
    margin: 5px 0;
    padding: 10px;
}

.footer-right {
    width: 50%;
    text-align: right;
}



.footer-right .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-right .footer-links a {
    margin: 3px 0;
    text-decoration: none;
    color: #000;
}

.footer-right .footer-links a:hover {
    text-decoration: underline;
}


