@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18233b;
}

.layout-container {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;
}

.layout-header {
    background: #131C2F;
    border-bottom: 1px solid rgba(233, 236, 243, 0.25);
    box-shadow: 0px 4px 10px #000000;
    padding: 12px 0;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.layout-header > .layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-nav > ul {
    list-style: none;

    
    margin-top:    0;
    margin-bottom: 0;
    padding-left:  0;

    display: flex;
    flex-flow: row nowrap;
}

.layout-nav > ul > li {
    margin-left: 24px;

}

.layout-nav > ul > li:first-child {
    margin-left: 0;
}

.layout-nav > ul > li > a {
    font-weight:    bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 8px;
    padding: 6px 10px;

    display: block;
    
}

.layout-nav > ul > li > a:hover,
.layout-nav > ul > li:hover > a {
    color: #24A3FF;
    background: #E9ECF31A;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .forms {
    padding: 30px;
}

.container .forms .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.forms .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #203563;
    border-radius: 25px;
}

.forms .input-field {
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 100%;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #203563;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus,:valid) ~ i{
    color: #203563;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.forms .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .container {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #203563;
}

.forms .text {
    color: #333;
    font-size: 14px;
}

.forms a {
    text-decoration: none;
}

.forms a.text {
    color: #203563;
}

.forms a:hover {
    text-decoration: underline;
}

.forms .button {
    margin-top: 35px;
}

.forms .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #203563;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #2a4580;
}

.forms .login-signup {
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .layout-header {
        padding: 10px;
    }

    .layout-header > .layout-container {
        flex-direction: column;
        align-items: center;
    }

    .layout-nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .layout-nav ul li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    .container {
        max-width: 100%;
        width: 90%;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 250px;
    }

    .container .forms {
        padding: 20px;
    }

    .container .forms .title {
        font-size: 24px;
        text-align: center;
    }

    .forms .title::before {
        width: 25px;
    }

    .forms .input-field {
        margin-top: 20px;
        height: 45px;
    }

    .input-field input {
        font-size: 14px;
        padding: 0 30px;
    }

    .input-field i {
        font-size: 20px;
    }

    .forms .checkbox-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .forms .button {
        margin-top: 25px;
    }

    .forms .button input {
        font-size: 16px;
        padding: 12px;
    }

    .forms .login-signup {
        margin-top: 20px;
    }
}
